body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
  }
  
  .navbar {
    background-color: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .hamburger {
    cursor: pointer;
    display: none;
    flex-direction: column;
  }
  
  .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
  
  .links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #333;
  }
  
  .links a {
    color: white;
    text-decoration: none;
    margin: 10px 20px;
  }
  
  .hamburger-clicked + .links {
    display: flex;
  }
  
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  
    .links{
      display: none;
    }
  
    .hamburger-clicked + .links {
      display: flex;
      flex-direction: column;
    }
  }

  section{
    background-color: #88c1d0;
    padding: 100px;
    margin: 60px;
}


@media (min-width: 1600px){
    div {
        display: flex;
        flex-direction: row;
    }        
}


@media (max-width: 1599px) {
    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }   
}


@media (max-width: 767px) {
    div {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
}
  