section{
    background-color: #88c1d0;
    padding: 100px;
    margin: 60px;
}


@media (min-width: 1600px){
    div {
        display: flex;
        flex-direction: row;
    }        
}


@media (max-width: 1599px) {
    div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }   
}


@media (max-width: 767px) {
    div {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }
}
